*{
    margin: 0;
    padding: 0;    
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header{
    padding: 16px 0 0;
    border-bottom: 1px solid #ccc;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu > li{
    float: left;
    list-style: none;
    padding: 13px;
    border-top: 3px solid transparent;
    cursor: pointer;
    position: relative;
    
}

.menu li:hover .subMenu{
    display: block;
}

.menu li:hover {
    border-color: black;
}

.subMenu{
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    top: 100%;
    min-width: max-content;
    border: 1px solid #ccc;
}
.subMenu > li{
    list-style: none;
    padding: 8px 8px;
    
}

.clear{
    clear: both;
}

