*{
    margin: 0;
    padding: 0;    
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header{
    padding: 16px 0 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 55px;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu > li{
    float: left;
    list-style: none;
    padding: 13px 13px 13px 0px;
    border-top: 3px solid transparent;
    cursor: pointer;
    position: relative;
    
}

.menu li:hover .subMenu{
    display: block;
}

.menu li:hover {
    border-color: black;
}

.subMenu{
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    top: 100%;
    min-width: max-content;
    border: 1px solid #ccc;
    background-color: #fff;
}
.subMenu > li{
    list-style: none;
    padding: 8px 8px;
    
}

.clear{
    clear: both;
}

.conteudo{
    display: grid;
    grid-template-columns: 70% 30%;
}

section h2{
    margin-bottom: 21px;
}

.noticia img{
    max-width: 100%;
}

.destaque{
    margin-bottom: 56px;
}

.destaque .noticia a{
    display: flex;
    font-size: 2em;
}

.destaque .noticia img{
    margin-right: 8px;
}

aside{
    padding-left: 40px;
}

aside .noticia{
    margin-bottom: 24px;
}

.noticias{
    display: grid;
    grid-template-columns: repeat(3, 32.6%);
    column-gap: 1%;
    row-gap: 5%;
}